<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="mocha/mocha.css">
    <style>
        #fixtures {
            display: none;
        }
    </style>
</head>
<body>
    <div id="mocha"></div>

    <div id="fixtures">
        <div data-region="header"></div>
        <div class="container" data-region="content"></div>
        <div data-region="footer"></div>
    </div>

    <script src="mocha/mocha.js"></script>
    <script src="chai/chai.js"></script>

    <script src="<%= filenames.js %>"></script>
    <script src="specHelper.js"></script>
    <script src="tests.js"></script>
</body>
</html>
