<h1>Directions</h1>

<div class="row">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.8100475723472!2d-81.59813599999998!3d41.50839099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830fc7400395c95%3A0xd86a1ac754067ba2!2s12110+Mayfield+Rd%2C+Cleveland%2C+OH+44106!5e0!3m2!1sen!2sus!4v1408996575401" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>

<div class="row">
  <div class="col-sm-4">
    <h4>From the South</h4>

    <h6>Take 77 North to 90 East</h6>
    <h6>Take Exit 173B for Chester Ave</h6>
    <h6>Take a right onto Chester Ave</h6>
    <h6>After about 3 miles, turn left onto Euclid Ave</h6>
    <h6>After .5 mile, turn right onto Mayfield Rd</h6>
  </div>

  <div class="col-sm-4">
    <h4>From the West</h4>

    <h6>Take 90 East</h6>
    <h6>Take Exit 173B for Chester Ave</h6>
    <h6>Take a right onto Chester Ave</h6>
    <h6>After about 3 miles, turn left onto Euclid Ave</h6>
    <h6>After .5 mile, turn right onto Mayfield Rd</h6>
  </div>

  <div class="col-sm-4">
    <h4>From the East</h4>

    <h6>Take 90 West</h6>
    <h6>Take Exit 177 for Martin Luther King Junior Drive</h6>
    <h6>After about 2.5 miles, at the traffic circle, take the 3rd exit onto East Blvd</h6>
    <h6>Take a slight left onto Ford Dr</h6>
    <h6>Continue onto Mayfield Rd</h6>
  </div>
</div>
