<div class="container">
  <div class="row">
    <div class="col-lg-6 no-padding">
      <img src="images/bakery-case-1.png" class="img-responsive" alt="Bakery case one">
    </div>
    <div class="col-lg-6 no-padding">
      <img src="images/bakery-case-2.png" class="img-responsive" alt="Bakery case two">
    </div>
  </div>
  <div class="row">
    <div class="well lead">
    Fresco Bakery was created in 1970 by Mario Fresco. We still use the same recipes today that he used when the bakery was established. We offer a large variety of bakery items including breads, rolls, pastas, muffins, cookies and cakes. For a full listing of all of the items we offer, please check out our <a href="#/menu">Menu</a> page.
    </div>
  </div>
</div>
