<div class="row">
  <div class="col-sm-3">
    <h4>Name</h4>
  </div>

  <div class="col-sm-3">
    <h4>Quantity</h4>
  </div>

  <div class="col-sm-3">
    <h4>Cost (per Quantity)</h4>
  </div>
</div>

<div data-view-container></div>
