<div class="row div-row">
  <div class="col-sm-3">
    {{name}}
  </div>

  <div class="col-sm-3 text-right">
    {{quantity}}
  </div>

  <div class="col-sm-3 text-right">
    {{cost}}
  </div>
</div>
