<header class="navbar navbar-top navbar-static-top">
  <div class="container">
    <div class="row">
      <div class="navbar-brand col-md-6">Welcome to Fresco Bakery</div>
      <div class="visible-md visible-lg">
        <div class="col-md-1 navbar-flag navbar-flag-green"></div>
        <div class="col-md-1 navbar-flag navbar-flag-white"></div>
        <div class="col-md-1 navbar-flag navbar-flag-red"></div>
      </div>
    </div>
  </div>
</header>
